* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Common styles for logo and navbar */
  .logo {
    font-family: Roboto;
  }
  .menuBurger{
    display: none;
  }
  
  .navbar {
    height: 100vh;
    width: 100%;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 4px;
  }
  
  nav ul li a:hover {
    
    border-bottom:2px solid #ea1538;
    
    
  }
  .cnx{
    
    justify-content: center;
    margin-left: 8%;
  }
  .cnx{
    padding-bottom: 1%;
 }
  
  button {
    border: none;
    background: #ea1538;
    padding: 8px 18px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
    text-align: center;

  }
  .dropdown {
    display: none;
  }
  
  .dropbtn {
    background-color: #f9f9f9;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .show {
    display: block;
  }
  .mod {
    z-index: 22222;
    pointer-events: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;

    .x {
        float: right;
        color: white;
        background-color: black;
        border: none;
        padding: 10px;
    }

    .modContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 100%;

        // To make the background darker when the modal shows
        .forBg {
            background-color: black;
            opacity: 0.8;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 100%;
            z-index: -22;
        }

        iframe {
            position: absolute;
            z-index: 212121;
        }
    }
}


    @media (min-width: 426px) and (max-width: 768px) {
      .navlist li {
          display: none;
      }
      .menuBurger{
        display: block;
      }
      .linksBurger{
        position: absolute;
        background-color: #f9f9f9;
        
        
        
      }
      
  
      .cnx {
          display: none;
      }
  
  
  
      .dropdown-content a {
          display: block;
      }
      
  }
  

  // *
  @media (min-width:375px) and (max-width: 426px){
    .navlist{
        display: none;
  }
  .menuBurger{
    display: block;
    float: right;
  }
  .linksBurger{
    position: absolute;
    background-color: #f9f9f9;
    
    
  }
  
  
  .logo {
    font-family: Roboto;
  }
  
  
  .navbar {

  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 4px;
  }
  
  nav ul li a:hover {
    
    border-bottom:2px solid #ea1538;
    
    
  }
  .cnx{
    
    justify-content: center;
    margin-left: 0;
  }
  .cnx{
    padding-bottom: 1%;
 }
  
  button {
    border: none;
    background: #ea1538;
    padding: 8px 18px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.4s;
    text-align: center;

  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #f9f9f9;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  }}
  