.sect9{
   background-color: #eeee;
    width: 100%;
    
}
.sect9 h1{
    font-family: amatico;
    font-size: 60px;
}
.sect9 span{
    color: red;
}
.sect9 p{
    font-family: roboto;
    font-size: 20px;
}
.mover{
    text-align: center;
}