.sect8
{
    width: 100vw;
    height:auto;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    

    .table {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .reserve {
            color: #868184;
            font-size: 38px;        }

        .bigtext {
            font-family: amatico;
            font-size: 68px;
            span {
                color: #cc1111;
            }
        }
    }

    .welcome{
        width: 100%;
        height: 50vh;
        display: flex;
        background-color:#f7f7f7;
        gap: 30px;
        
        .imgsect8{
            width: 570px;
            height: 490px;
            img{
                width: 100%;
                height: 370px;
            }
        }

        .formulaire{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: 80%;
            background-color:#f7f7f7 ;
            
           
            .input1{
                width: 100%;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                input{
                    border-radius: 1px;
                    border: 1px solid white;
                    height: 4vh;
                    font-size: 20px;
                    flex-wrap: wrap;
                    width: 30%;
                }
            }
            .btns8{
                .btn8{
                    font-size: 22px;
                    border-radius: 16px;
                    border: none;
                    width: 190px;
                    height: 50px;
                    color: white;
                    background-color: #cc1111; 
}
 :hover{
                        background-color: #eb0c0cee;
                    }
                }

             
            }
        }
    }



@media (min-width:766px) and (max-width:900px)
{

    .sect8
{
    width: 100vw;
    height:180vh;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;

    .table {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .reserve {
            color: #868184;
            font-size: 24px;        }

        .bigtext {
            font-family: amatico;
            font-size: 50px;
            span {
                color: #cc1111;
            }
        }
    }

    .welcome{
        width: 80%;
        height: 50vh;
        display: flex;
        background-color:#f7f7f7;
        gap: 30px;
        display: flex;
        flex-direction: column;
       
        
        .imgsect8{
            
            width: 640px;
            height: 490px;
            img{
              
                width: 100%;
                height: 100%;
            }
        }

        .formulaire{
            display: flex;
            align-items: center;
            margin: auto;
            justify-content: space-between;
            flex-direction: column;
            width: 83vw;
            height: 80vh;
            background-color:#f7f7f7;
            gap: 28px;
            margin-top: -29px;
            padding-top: 30px;
            padding-bottom: 30px;

            .input1{
                width: 100%;
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                input{
                    border-radius: 1px;
                    border: 1px solid #979595;
                    height: 6vh;
                    font-size: 20px;
                    flex-wrap: wrap;
                    width: 40%;
                }
            }
            .btns8{
                .btn8{
                    font-size: 22px;
                    border-radius: 16px;
                    border: none;
                    width: 190px;
                    height: 50px;
                    color: white;
                    background-color: #cc1111;
}
                }
                .txtarea{
                    width: 526px;
                    font-size: 20px;
                    height: 130px;
                }
            }
        }
    }
}
// *mobile 425
@media (min-width:381px) and (max-width:426px)
{
    .sect8
    {
        width: 100vw;
        height:220vh;
        background-color: white;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    
        .table {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            .reserve {
                color: #868184;
                font-size: 24px;        }
    
            .bigtext {
                font-family: amatico;
                font-size: 40px;
                span {
                    color: #cc1111;
                }
            }
        }
    
        .welcome{
            width: 80%;
            height: 50vh;
            display: flex;
            background-color:#f7f7f7;
            gap: 30px;
            display: flex;
            flex-direction: column;
           
            
            .imgsect8{
                
                width: 339px;
                height: 300px;
                img{
                  
                    width: 100%;
                    height: 100%;
                }
            }
    
            .formulaire{
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: space-between;
                flex-direction: column;
                width: 80vw;
                height: 200vh;
                background-color:#f7f7f7;
                gap: 28px;
                margin-top: -29px;
                padding-top: 30px;
                padding-bottom: 30px;
    
                .input1{
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    input{
                        border-radius: 1px;
                        border: 1px solid #979595;
                        height: 6vh;
                        font-size: 15px;
                        flex-wrap: wrap;
                        width: 80%;
                    }
                }
                .btns8{
                    .btn8{
                        font-size: 17px;
                        border-radius: 16px;
                        border: none;
                        width: 180px;
                        height: 40px;
                        color: white;
                        background-color: #cc1111;
    }
                    }
                    .txtarea{
                        width: 240px;
                        font-size: 15px;
                        height: 130px;
                    }
                }
            }
        }
}
// ****mobile sec8
@media (min-width:375px) and (max-width:380px)
{
    .sect8
    {
        width: 100vw;
        height:220vh;
        background-color: white;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    
        .table {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    
            .p1 {
                color: #868184;
                font-size: 24px;        }
    
            .bigtext {
                font-family: amatico;
                font-size: 40px;
                span {
                    color: #cc1111;
                }
            }
        }
    
        .welcome{
            width: 80%;
            height: 50vh;
            display: flex;
            background-color:#f7f7f7;
            gap: 30px;
            display: flex;
            flex-direction: column;
           
            
            .imgsect8{
                
                width: 300px;
                height: 300px;
                img{
                  
                    width: 100%;
                    height: 100%;
                }
            }
    
            .formulaire{
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: space-between;
                flex-direction: column;
                width: 80vw;
                height: 200vh;
                background-color:#f7f7f7;
                gap: 28px;
                margin-top: -29px;
                padding-top: 30px;
                padding-bottom: 30px;
    
                .input1{
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    input{
                        border-radius: 1px;
                        border: 1px solid #979595;
                        height: 6vh;
                        font-size: 15px;
                        flex-wrap: wrap;
                        width: 80%;
                    }
                }
                .btns8{
                    .btn8{
                        font-size: 17px;
                        border-radius: 16px;
                        border: none;
                        width: 180px;
                        height: 40px;
                        color: white;
                        background-color: #cc1111;
    }
                    }
                    .txtarea{
                        width: 240px;
                        font-size: 15px;
                        height: 130px;
                    }
                }
            }
        }
}